.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.primary-button {
  width: 100%;
  padding: 12px;
  background: var(--button-primary-background-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}
.primary-button:hover {
  background: #e758f0;
}
